* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  overflow-x: hidden;
  font-size: 25px;
}

.DivContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.DivContainer img {
  width: 95%;
  height: 450px;
  border-radius: 4vh;
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.DivContainer .Texto {
  text-align: center;
  font-size: 80px;
}

nav {
  margin-bottom: 1.5vh;
}
nav .PadreBotones {
  display: flex;
  height: 8vh;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
nav .PadreBotones .Botones {
  display: block;
  border: 1px solid white;
  width: 120px;
  border-radius: 20px;
  padding: 8px;
  margin: 0 25px;
  font-size: 16px;
}

.Video iframe {
  padding-top: 1vh;
  padding-bottom: 20px;
  border-radius: 40px;
  width: 900px;
  height: 500px;
}

.Texto-principal {
  margin: 1%;
  padding: 1%;
}

.image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 50vw;
  height: 40vh;
  padding: 1vh;
  object-fit: cover;
  border-radius: 8vh;
  padding-bottom: 20px;
}

footer {
  border-top: solid white 1px;
  padding: 1%;
  font-size: 16px;
}

.Botones:hover {
  background-color: #699bb4;
  transition: 0.2s;
}

table {
  width: 600px;
  height: 200px;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid black;
  padding: 8px;
  background-color: #699bb4;
}

.Fixture {
  display: flex;
  margin: 1vw;
  align-items: center;
  justify-content: center;
}

.Texto-en-fixture {
  margin: 15px;
  width: 600px;
}

.result {
  width: 150px;
  font-size: 90px;
  margin: auto;
}

.Grid-container {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "arg resultarg contra resultcontra";
}

.arg {
  grid-area: "arg";
}

.contra {
  grid-area: "contra";
}

.resultarg {
  grid-area: "resultarg";
}

.resultcontra {
  grid-area: "resultcontra";
}

.banderas {
  width: 230px;
  height: 230px;
  margin: auto;
}

.relato {
  margin-top: 10vh;
  padding: 2vh;
}

.entrevista-container {
  display: grid;
  margin: 0 50px 50px 50px;
  gap: 25px;
  grid-template-areas: "titulo img" "texto img";
}

.img-entrevistas {
  width: 50vw;
  height: 40vh;
  padding: 1vh;
  object-fit: cover;
  border-radius: 8vh;
  padding-bottom: 20px;
  padding: 0;
  width: 600px;
  height: 150px;
}

.img-entrevistas:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.jugador {
  grid-area: titulo;
  align-self: flex-end;
  font-size: 70px;
  text-decoration: underline solid white 4px;
  text-underline-offset: 10px;
}

.resumen {
  grid-area: texto;
  font-size: 23px;
}

.boton {
  grid-area: img;
}

span {
  color: #699bb4;
}

#suscripcion {
  margin: 0 50px 50px 50px;
  font-size: 25px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 5vh;
  font-size: 20px;
}

label {
  justify-self: right;
  width: 350px;
  margin-right: 25px;
  font-size: 20px;
}

input, .botones-susc:hover, button, select {
  width: 350px;
  height: 32px;
  font-size: 20px;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 25px;
}

input:hover, .botones-susc:hover, button:hover, select:hover {
  background-color: #699bb4;
  transition: 0.2s;
}

select {
  font-size: 15px;
}

button {
  padding: 10px;
  font-size: 20px;
  overflow-y: hidden;
  line-height: 0px;
}

#suscr {
  justify-self: right;
}

.botones-susc:hover {
  transform: scale(0.95);
}

#spotify {
  width: 95vw;
  margin-bottom: 20px;
}

/*Vista Desktop*/
@media screen and (max-width: 1440px) {
  /*Seccion-clasificacion*/
  th,
  td {
    font-size: 20px;
  }
  .Texto-en-fixture {
    font-size: 20px;
  }
  /*Seccion-entrevistas*/
  .entrevista-container {
    margin: 0 25px 25px 50px;
  }
  .img-entrevistas {
    height: 450px;
  }
  .jugador {
    width: 500px;
    justify-self: center;
  }
  .resumen {
    width: 500px;
    justify-self: center;
  }
  .resumen,
  span {
    font-size: 22px;
  }
}
@media screen and (max-width: 1205px) {
  .img-entrevistas {
    width: 500px;
  }
  .jugador {
    width: 400px;
    justify-self: center;
    font-size: 60px;
  }
  .resumen {
    width: 400px;
    justify-self: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  /*Seccion-principal*/
  .DivContainer .Texto {
    font-size: 64px;
  }
  .Video iframe {
    width: 700px;
    height: 450px;
  }
  /*Seccion-clasificacion*/
  table {
    font-size: 14px;
  }
  .Texto-en-fixture {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .entrevista-container {
    gap: 10px;
  }
  .img-entrevistas {
    width: 400px;
  }
  .jugador {
    width: 400px;
    justify-self: center;
    font-size: 60px;
  }
  .resumen {
    width: 400px;
    justify-self: center;
    font-size: 20px;
  }
}
@media screen and (max-width: 928px) {
  /*Seccion-entrevistas*/
  .img-entrevistas {
    width: 300px;
    height: 380px;
  }
  .jugador {
    width: 380px;
    text-underline-offset: 5px;
  }
  .resumen {
    width: 350px;
    font-size: 15px;
  }
  span {
    font-size: 15px;
  }
}
@media screen and (max-width: 902px) {
  /*Seccion-clasificacion*/
  table {
    height: 180px;
  }
  th,
  td {
    font-size: 18px;
  }
  .Texto-en-fixture {
    font-size: 16px;
  }
}
@media screen and (max-width: 860px) {
  /*Seccion-principal*/
  .DivContainer .Texto {
    font-size: 54px;
  }
}
/*Vista Tablet*/
@media screen and (max-width: 768px) {
  /*Seccion-nav*/
  nav .PadreBotones {
    padding: 9px;
  }
  nav .PadreBotones .Botones {
    width: 90px;
    font-size: 12px;
    margin: 0 10px;
  }
  /*Seccion-principal*/
  .DivContainer img {
    height: 250px;
  }
  .DivContainer .Texto {
    font-size: 40px;
  }
  .Video iframe {
    width: 500px;
    height: 300px;
  }
  .image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .image-container img {
    height: 50vh;
    margin: auto;
  }
  /*Seccion-clasificacion*/
  table {
    width: 90vw;
  }
  .Texto-en-fixture {
    width: 90vw;
  }
  .Fixture {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .Fixture02 {
    grid-template-areas: "fixture" "texto";
  }
  #Fixt02 {
    grid-area: fixture;
  }
  #Fix-texto02 {
    grid-area: texto;
  }
  /*Seccion-eliminatoria*/
  .banderas {
    width: 130px;
    height: 130px;
  }
  .result {
    width: 75px;
    font-size: 65px;
  }
  .relato {
    font-size: 16px;
    margin-top: 3vh;
  }
  /*Seccion-entrevistas*/
  .entrevista-container {
    grid-template-areas: "titulo" "img" "texto";
  }
  .img-entrevistas {
    width: 500px;
    height: 60vh;
  }
  .jugador {
    width: 500px;
    font-size: 50px;
    text-underline-offset: 5px;
  }
  .resumen {
    width: 500px;
    font-size: 15px;
  }
  /*Seccion-suscripcion*/
  #Navegacion-suscr {
    height: 150px;
    margin-bottom: 0;
  }
  #suscripcion {
    font-size: 20px;
    margin-bottom: 25px;
  }
  form {
    font-size: 18px;
  }
  label {
    width: 300px;
    font-size: 18px;
  }
  input, select, button, .botones-susc:hover {
    width: 300px;
    font-size: 18px;
  }
  select {
    font-size: 16px;
  }
  /*Seccion-footer*/
  footer {
    font-size: 11px;
  }
}
@media screen and (max-width: 670px) {
  /*Seccion-principal*/
  .DivContainer .Texto {
    font-size: 36px;
  }
  .Video iframe {
    width: 350px;
    height: 200px;
  }
  /*Seccion-suscripcion*/
  #Navegacion-suscr {
    height: 120px;
  }
  label,
  input,
  select,
  .botones-susc:hover,
  button {
    width: 250px;
  }
}
@media screen and (max-width: 600px) {
  /*Seccion-navegacion*/
  nav .PadreBotones .Botones {
    width: 70px;
    font-size: 10px;
    margin: 0 10px;
  }
  /*Seccion-entrevistas*/
  .entrevista-container {
    margin: auto;
  }
  .img-entrevistas {
    width: 400px;
  }
  .jugador {
    width: 400px;
    text-underline-offset: 3px;
  }
  .resumen {
    width: 400px;
  }
}
/*Seccion-suscripcion*/
#suscripcion {
  font-size: 20px;
}

label,
input,
select,
.botones-susc:hover,
button {
  width: 200px;
}

@media screen and (max-width: 500px) {
  /*Seccion-principal*/
  .DivContainer .Texto {
    font-size: 30px;
  }
}
@media screen and (max-width: 444px) {
  label,
  input,
  select,
  .botones-susc:hover,
  button {
    width: 180px;
  }
}
/*Vista Mobile*/
@media screen and (max-width: 425px) {
  /*Seccion-nav*/
  header {
    height: 250px;
  }
  nav .PadreBotones .Botones {
    width: 60px;
    font-size: 8px;
    margin: 0 5px;
  }
  /*Seccion-principal*/
  .DivContainer img {
    height: 150px;
  }
  .DivContainer .Texto {
    font-size: 25px;
  }
  .Video iframe {
    width: 250px;
    height: 150px;
  }
  #Texto-principal {
    font-size: 0.6em;
  }
  .image-container {
    grid-template-columns: 1fr;
  }
  .image-container img {
    width: 80vw;
  }
  /*Seccion-clasificacion*/
  .Texto-en-fixture {
    font-size: 15px;
  }
  /*Seccion-eliminatoria*/
  .banderas-container {
    margin-top: 3px;
  }
  .banderas {
    width: 90px;
    height: 90px;
  }
  .result {
    width: 40px;
    font-size: 30px;
  }
  .relato {
    font-size: 12px;
    margin-top: 1.5vh;
  }
  /*Seccion-entrevistas*/
  .entrevista-container {
    grid-template-areas: "titulo" "img" "texto";
  }
  .img-entrevistas {
    width: 350px;
    height: 40vh;
  }
  .jugador {
    width: 350px;
    font-size: 40px;
  }
  .resumen, span {
    width: 350px;
    font-size: 12px;
  }
  /*Seccion-suscripcion*/
  #Navegacion-suscr {
    height: 100px;
  }
  form {
    gap: 10px;
  }
  #suscripcion {
    font-size: 14px;
    margin: 0 15px 20px 15px;
  }
  label, input, select, button, .botones-susc:hover {
    width: 145px;
    height: 25px;
    font-size: 14px;
    margin-right: 10px;
  }
  select {
    font-size: 10px;
  }
  /*Seccion-footer*/
  footer {
    font-size: 9px;
  }
}
@media screen and (max-width: 410px) {
  /*Seccion-clasificacion*/
  th, td {
    font-size: 16px;
  }
  .Texto-en-fixture {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  /*Seccion-principal*/
  .DivContainer .Texto {
    font-size: 20px;
  }
  /*Seccion-entrevistas*/
  .img-entrevistas {
    width: 300px;
  }
  .jugador {
    font-size: 35px;
    width: 300px;
  }
  .resumen, span {
    width: 300px;
  }
  footer {
    font-size: 8px;
  }
}
@media screen and (max-width: 320px) {
  nav .PadreBotones .Botones {
    overflow-y: hidden;
    text-align: center;
    width: 50px;
    height: 20px;
    line-height: 0;
    font-size: 7px;
    margin: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
