/*Vista Desktop*/

@media screen and (max-width: 1440px){
    /*Seccion-clasificacion*/

    th,td{
        font-size: 20px;
    }  
      
    .Texto-en-fixture {
        font-size: 20px;
    }
    
}


@media screen and (max-width: 1024px) {

    /*Seccion-principal*/

    .DivContainer .Texto {
        font-size: 64px;
    }

    .Video iframe {
        width: 700px;
        height: 450px;
    }

    /*Seccion-clasificacion*/

    table {
        font-size: 14px;
    }

    .Texto-en-fixture {
        font-size: 18px;
    }

    /*Seccion-suscripcion*/

    #suscripcion {
        font-size: 16px;
        margin-bottom: 4vh;

    }

}

@media screen and (max-width: 928px) {

    /*Seccion-entrevistas*/

    .jugador {
        font-size: 48px;
        text-underline-offset: 5px;


    }
}

@media screen and (max-width: 902px) {

    /*Seccion-clasificacion*/

    table{
        height: 180px;
    }
    th,td{
        font-size: 18px;
    }    
    
    .Texto-en-fixture {
        font-size: 16px;
    }

}

@media screen and (max-width: 860px) {

    /*Seccion-principal*/

    .DivContainer .Texto {
        font-size: 3.5em;
    }

}