/*Vista Mobile*/

@media screen and (max-width: 425px) {

    /*Seccion-nav*/

    header {
        height: 250px;
    }

    nav {
        .PadreBotones {
            .Botones {
                width: 60px;
                font-size: 8px;
                margin: 0 5px;
            }
        }
    }

    /*Seccion-principal*/

    .DivContainer {
        img {
            height: 150px;
        }

        .Texto {
            font-size: 25px;
        }
    }

    .Video iframe {
        width: 318px;
        height: 180px;

    }

    #Texto-principal {
        font-size: 0.6em;
    }

    .image-container {
        grid-template-columns: 1fr;

        img {
            width: 80vw;
        }
    }

    /*Seccion-clasificacion*/

    .Texto-en-fixture {
        font-size: 15px;
    }

    /*Seccion-eliminatoria*/

    .banderas-container {
        margin-top: 3px;
    }

    .banderas {
        width: 90px;
        height: 90px;
    }

    .result {
        width: 40px;
        font-size: 30px;

    }

    .relato {
        font-size: 12px;
        margin-top: 1.5vh;
    }

    /*Seccion-entrevistas*/

    .entrevista-container {
        grid-template-areas:
            "titulo"
            "img"
            "texto";
    }

    .img-entrevistas {
        width: 350px;
        height: 40vh;
    }

    .jugador {
        width: 350px;
        font-size: 40px;
    }

    .resumen,
    span {
        width: 350px;
        font-size: 12px;
    }

    /*Seccion-suscripcion*/

    #Navegacion-suscr {
        height: 100px;
    }

    form {
        gap: 10px;
    }

    #suscripcion {
        font-size: 14px;
        margin: 0 15px 20px 15px;
    }

    label,
    input,
    button {
        width: 145px;
        height: 25px;
        font-size: 14px;
        margin-right: 10px;

    }

    select {
        font-size: 10px;
    }

    /*Seccion-footer*/

    footer {
        font-size: 9px;
    }

}

@media screen and (max-width: 410px) {

    /*Seccion-clasificacion*/

    th,
    td {
        font-size: 16px;
    }

    .Texto-en-fixture {
        font-size: 14px;
    }

}

@media screen and (max-width: 375px) {

    /*Seccion-principal*/

    .DivContainer {
        .Texto {
            font-size: 20px;
        }
    }


    /*Seccion-entrevistas*/
    .img-entrevistas {
        width: 300px;
    }

    .jugador {
        font-size: 35px;
        width: 300px;
    }

    .resumen,
    span {
        width: 300px;
    }

    footer {
        font-size: 8px;
    }


}

@media screen and (max-width: 320px) {

    nav {
        .PadreBotones {
            .Botones {
                overflow-y: hidden;
                text-align: center;
                width: 50px;
                height: 20px;
                line-height: 0;
                font-size: 7px;
                margin: 2px;
            }
        }
    }

}