/*Vista Mobile*/

@media screen and (max-width: 425px) {

    /*Seccion-nav*/

    nav {
        font-size: 10px;

        .PadreBotones .Botones {
            padding: 6px;
            margin-left: 0.5%;
            margin-right: 0.5%;

        }
    }


    /*Seccion-principal*/

    .DivContainer{
        img{
            height: 150px;
        }
        .Texto {
            font-size: 1.4em;
        }
    }

    .Video iframe {
        width: 250px;
        height: 150px;

    }

    #Texto-principal {
        font-size: 0.6em;
    }

    .image-container {
        grid-template-columns: 1fr;

        img {
            width: 80vw;
        }
    }

    /*Seccion-clasificacion*/

    .Texto-en-fixture {
        font-size: 15px;
    }

    /*Seccion-eliminatoria*/

    .banderas-container {
        margin-top: 3px;
    }

    .banderas {
        width: 90px;
        height: 90px;
    }

    .result {
        width: 40px;
        font-size: 30px;

    }

    .relato {
        font-size: 12px;
        margin-top: 1.5vh;
    }

    /*Seccion-entrevistas*/

    .entrevista-container {
        grid-template-areas:
            "titulo"
            "img"
            "texto";
    }

    .img-entrevistas {
        width: 350px;
        height: 40vh;
    }

    .jugador{
        width: 350px;
        font-size: 40px;
    }

    .resumen, span{
        width: 350px;
        font-size: 12px;
    }

    /*Seccion-suscripcion*/

    #suscripcion {
        font-size: 12px;
    }

    form {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }

    label {
        justify-self: right;
    }

    input {
        width: 120px;
    }

    button {
        justify-self: center;
    }

    #suscr {
        justify-self: right;
    }

    #borrar {
        justify-self: left;
    }

    select {
        height: 16px;
        font-size: 10px;
    }


}

@media screen and (max-width: 410px) {

    /*Seccion-footer*/

    footer {
        font-size: 0.5em;
    }

    /*Seccion-clasificacion*/

    th,td {
        font-size: 16px;
    }

    .Texto-en-fixture {
        font-size: 14px;
    }

}

@media screen and (max-width: 375px) {
    .img-entrevistas {
        width: 300px;
    }

    .jugador{
        font-size: 35px;
        width: 300px;
    }

    .resumen, span{
        width: 300px;
    }

}

@media screen and (max-width: 320px) {

    /*Seccion-nav*/

    nav {
        font-size: 9px;

        .PadreBotones .Botones {
            padding: 5px;
            margin-left: 0.3%;
            margin-right: 0.3%;

        }
    }
}