/*Vista Desktop*/

@media screen and (max-width: 1024px) {
    
    /*Seccion-principal*/

    .DivContainer .Texto {
        font-size: 4em;
    }

    .Video iframe {
        width: 700px;
        height: 450px;
    }

    /*Seccion-clasificacion*/

    table{
        font-size: 14px;
    }

    .Texto-en-fixture{
        font-size: 14px;
    }

    /*Seccion-suscripcion*/

    #suscripcion{
        font-size: 1em;
        margin-bottom: 4vh;

    }

}

@media screen and (max-width: 928px){

    /*Seccion-entrevistas*/

    .jugador{
        font-size: 3em;
        text-underline-offset: 5px;


    }
}

@media screen and (max-width: 902px){

    /*Seccion-clasificacion*/

    .Texto-en-fixture{
        font-size: 12px;
    }
  
}

@media screen and (max-width: 860px) {
    
    /*Seccion-principal*/
    
    .DivContainer .Texto {
        font-size: 3.5em;
    }

}
