nav {
    margin-bottom: 1.5vh;

    .PadreBotones {
        display: flex;
        height: 8vh;
        justify-content: center;
        align-items: center;
        list-style-type: none;

        .Botones {
            display: block;
            border: 1px solid white;
            border-radius: 20px;
            padding: 8px;
            margin-left: 4%;
            margin-right: 4%;
            font-size: 16px;
        }
    }
}