.banderas-container {
    margin-top: 10vh;
}

.result {
    width: 150px;
    font-size: 4em;
    margin: auto;
}

.Grid-container {
    display: grid;
    align-items: center;
    margin-top: 2vh;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "arg resultarg contra resultcontra"
}

.arg {
    grid-area: "arg";
}

.contra {
    grid-area: "contra";
}

.resultarg {
    grid-area: "resultarg";
}

.resultcontra {
    grid-area: "resultcontra";
}

.banderas {
    width: 230px;
    height: 230px;
    margin: auto;
}

.relato {
    margin-top: 10vh;
    padding: 2vh;
}