#suscripcion
{
    margin-bottom: 10vh;
    font-size: 1.5em;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 5vh;
    font-size: 20px;
}

input{
    background-color: #699bb4;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 2vw;
}

select{
    @extend input;
}

button{
    @extend input;
    padding: 10px;
}

.botones-susc:hover{
    background-color: #395461;
    transition: 0.2s;
}

#spotify{
    margin-bottom: 6vh;
}
