table {
    width: 600px;
    height: 200px;
    border-collapse: collapse;

    th,
    td {
        border: 1px solid black;
        padding: 8px;
        background-color: #699bb4;
    }
}

.Fixture {
    display: flex;
    margin: 1vw;
    align-items: center;
    justify-content: center;
}

.Texto-en-fixture {
    margin: 15px;
    width: 600px;
}