#suscripcion {
    margin: 0 50px 50px 50px;
    font-size: 25px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 5vh;
    font-size: 20px;
}

label {
    justify-self: right;
    width: 350px;
    margin-right: 25px;
    font-size: 20px;
}

input {
    width: 350px;
    height: 32px;
    font-size: 20px;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 25px;
}

input:hover {
    background-color: #699bb4;
    transition: 0.2s;
}


select {
    @extend input;
    font-size: 15px;
}

button {
    @extend input;
    padding: 10px;
    font-size: 20px;
    overflow-y: hidden;
    line-height: 0px;
}

#suscr {
    justify-self: right
}

.botones-susc:hover {
    @extend input;
    transform: scale(0.95);
}

#spotify {
    width: 95vw;
    margin-bottom: 20px;
}