.entrevista-container {
  width: 85vw;
  display: grid;
  margin: auto;
  margin-bottom: 5vh;
  gap: 25px;
  grid-template-areas:
    "titulo img"
    "texto img";
}

.img-entrevistas {
  @include diseño-img;
  padding: 0;
  width: 40vw;
  height: 75vh;
}

.img-entrevistas:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.jugador {
  grid-area: titulo;
  align-self: flex-end;
  font-size: 4em;
  text-decoration: underline solid white 4px;
  text-underline-offset: 10px;
}

.resumen {
  grid-area: texto;
}

.boton {
  grid-area: img;
}

span {
  color: #699bb4;
}