.entrevista-container {
  display: grid;
  margin: 0 50px 50px 50px;
  gap: 25px;
  grid-template-areas:
    "titulo img"
    "texto img";
}

.img-entrevistas {
  @include diseño-img;
  padding: 0;
  width: 600px;
  height: 150px;
}

.img-entrevistas:hover {
  transform: scale(0.9);
  transition: 0.2s;
}

.jugador {
  grid-area: titulo;
  align-self: flex-end;
  font-size: 70px;
  text-decoration: underline solid white 4px;
  text-underline-offset: 10px;
}

.resumen {
  grid-area: texto;
  font-size: 23px;
}

.boton {
  grid-area: img;
}

span {
  color: #699bb4;
}